<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="icon" href="/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <div class="main-content">
      {{>header}}
      <p>This was created by Aviral Sachdeo. Got the data from mapbox.com and darksky.net</p>
      <img class="robot" src="/robot.jpg" alt="">
    </div>

    {{>footer}}
  </body>
</html>
